Flask>=3.1
Flask-SQLAlchemy>=3.1
Flask-Login>=0.6
google-genai>=2.0
PyMuPDF>=1.24
pytesseract>=0.3
Pillow>=11.0
gTTS>=2.5
python-dotenv>=1.1
Werkzeug>=3.1
requests>=2.32
google-generativeai>=0.8
bcrypt>=4.1
stripe>=10.0
pypandoc>=1.12
pydub>=0.25
SpeechRecognition>=3.10
python-docx>=1.1
stripe>=10.0
